@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

body{
    font-family: Roboto;
    font-size: 56px;
    color: #75B79E;
    background-color: #EEF9BF;
    /*min-width: 335px;*/
    
    
}





.topo{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 815px;
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
}

h1{
    border: 1px solid red;
    margin: 0 auto;
}

.card-list{
    width: 815px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;


    position: relative;
}

.turn-anchor{
    border:1px solid red;
    width: 117px;
    height: 146px;
    position: relative;
    top:0;
    left: 0;
    margin-bottom: 34px;
    
}



.card{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    position: absolute;
    transition: all 0.5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.card img{
    width: 100px;
    height: 100px;
}

img{
    width: 100px;
    height: 100px;
}

/*-----------Comandos de virar----*/
.back-face{
    transform: rotateY(180deg);
    transition: all none;
    
}

.turn-back-face{
    transform: rotateY(180deg);
}

.back-face.turn-back-face {
    
    transform: rotateY(0deg);
    
  }

.turn{
    transform: rotateY(-180deg);
}


@media(max-width:870px){

    .topo{
        width:70%;
    }
    .card-list{
        width: 70%;
    }
}


@media(max-width:670px){

    .topo{
        
        width: 90%;
        min-width:332px
    }
    .card-list{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        min-width:332px;
        margin: 0 auto;
    }
}